.flights {
  display: flex;
  flex-direction: column;
}

#flights-main {
  width: 80%;
  margin: 0 auto;
  margin-top: -100px;
  position: relative;
  z-index: 999;
  padding: 10px 18px;
  background: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 40px;
}

.flights-hero {
  object-fit: cover;
  opacity: 0.7;
}
