ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 1.2em;
  margin: 0;
}

h1 a {
  color: #951900;
}

a {
  text-decoration: none;
  color: rgb(26, 26, 26);
}

li a.active {
  color: #951900;
}

.outlet {
  margin-top: 60px;
}
