#formFilter {
  margin: 0px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  @media screen and (min-width: 600px) {
    margin: 20px auto;
  }
}

#formFilter input,
#formFilter select {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  height: 38px;
}

#formFilter input:focus,
#formFilter select:focus {
  border-color: #951900;
  outline: none;
}

#formFilter button {
  background-color: #951900;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  height: 38px;
}

#formFilter button:hover {
  background-color: #0056b3;
}

#formFilter .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

#formFilter div {
  margin: 15px;
}

#formFilter > div {
  margin-left: 0px;
}

@media (max-width: 600px) {
  #formFilter {
    padding: 15px;
    margin: 20px;
  }

  #formFilter button {
    font-size: 14px;
  }
}
