#formFilter {
  margin: 0px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;

  @media screen and (min-width: 600px) {
    margin: 20px auto 40px;
  }
}

#formFilter input,
#formFilter select {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  height: 38px;
}

#formFilter input:focus,
#formFilter select:focus {
  outline: none;
}

#formFilter button {
  background-image: linear-gradient(90deg, #fa6a24 0, #f2ac14);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 140px;
  height: 59px;
}

#formFilter .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

#formFilter div {
  margin-right: 80px;
  text-align: left;
}

#formFilter > div {
  margin-left: 0px;
}

@media (max-width: 600px) {
  #formFilter {
    padding: 15px;
    margin: 0px;
  }

  #formFilter button {
    font-size: 14px;
  }
}

#formFilter span {
  font-size: 14px;
  color: #333;
  font-weight: 700;
  text-align: left;
}
