#registration {
  margin: 0px auto;
  padding: 20px;
  border-radius: 8px;

  @media screen and (min-width: 600px) {
    width: 80%;
  }
}

.registration-image {
  width: 100%;
  height: 750px;
  object-fit: cover;
}

.registration-main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f9f9f9;
}

#registration label {
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
  display: block;
}

#registration input,
#registration select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

#registration input:focus,
#registration select:focus {
  border-color: #f7a500;
  outline: none;
}

#registration button {
  background-color: #f7a500;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  color: white;
}

#registration button:disabled {
  background-color: #ffd279;
  color: grey;
}

#registration .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.input-wrapper {
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  #registration {
    padding: 15px;
    margin: 20px;
  }

  #registration button {
    font-size: 14px;
  }
}

.login-link {
  margin-top: 40px;
}

.login-link a {
  color: #f7a500;
  text-decoration: none;
  font-size: large;
  font-weight: 900;
}
